// ******************TRANSFER COMPONENT *******************************************************************
.offcanvas{
    width: 100vw;
}
#transfercomponentwrapper button{
    max-width: 500px;
}
#moveshistory{
    max-width: 1000px;
}
#moveshistorycards{
    overflow-y: scroll;
}
.lulumovecard{
    text-decoration: none;
    color: black;
    max-height: 90px;
    
    font-size: 0.7rem;
    border-left: 1px solid var(--lulugrey4);
}
.lulumovecard div{
    border-radius: 3px;
}
.lulumovecard-amount{
    font-size: 0.8rem;
}
.lulumovecard-title{
    font-size: 0.9rem;
}


// TODO do a global overflow class
#luluoverflow{
    overflow-y: scroll;
}