// ******************TRANSFER COMPONENT *******************************************************************
.lulutransfercomponent-wrapper{
    height: 100%;
}
#lulutest1{
    height: 60%;
    overflow-y: scroll;
    scrollbar-width: none;
}