<!-- Special transactions pills -->
<div class="dmb-2" id="special-transactions-wrapper">
    <app-special></app-special>
</div>
<!-- *ngFor="let months of OperationsHistory"
month.monthname
{
  *ngFor"let operation of monthname.operations"
  {
    card
    operation.title
    etc.
  }
} -->
<div id="transactions-history-wrapper">
    
</div>
Operations history
<!-- Transaction card -->
<div
    class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
        <img src="../assets/transactionlogo.png" alt="categorimg">
    </div>
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
        <div class="lulutransacard-category">Category, subcategory</div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Transaction card -->
<div
    class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
        <img src="../assets/transactionlogo.png" alt="categorimg">
    </div>
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
        <div class="lulutransacard-category">Category, subcategory</div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<!-- Transaction card -->
<div
    class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
        <img src="../assets/transactionlogo.png" alt="categorimg">
    </div>
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
        <div class="lulutransacard-category">Category, subcategory</div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<!-- Transaction card -->
<div
    class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
        <img src="../assets/transactionlogo.png" alt="categorimg">
    </div>
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
        <div class="lulutransacard-category">Category, subcategory</div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<!-- Transaction card -->
<div
    class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
        <img src="../assets/transactionlogo.png" alt="categorimg">
    </div>
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
        <div class="lulutransacard-category">Category, subcategory</div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<!-- Transaction card -->
<div
    class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
        <img src="../assets/transactionlogo.png" alt="categorimg">
    </div>
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
        <div class="lulutransacard-category">Category, subcategory</div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<!-- Transaction card -->
<div
    class="lulutransacard p-1 border-bottom d-flex flex-row justify-content-evenly align-items-center align-items-stretch">
    <div class="lulutransacard-categorylogo d-flex align-items-center justify-content-center">
        <img src="../assets/transactionlogo.png" alt="categorimg">
    </div>
    <div class="lulutransacard-description p-1 d-flex flex-column justify-content-center align-items-start">
        <div class="lulutransacard-title">Title</div>
        <div class="lulutransacard-info d-flex flex-row">
            <div class="me-3">Date</div>
            <div>Card ****9915</div>
        </div>
        <div class="lulutransacard-category">Category, subcategory</div>
    </div>
    <div class="lulutransacard-price d-flex align-items-center justify-content-center">
        12.99 &euro;
    </div>
</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->