// ******************TRANSACTIONS SUBCOMPONENT *******************************************************************
//////////////////// Main 
.lulutransacard{
    max-height: 17%;
}
.lulutransacard-categorylogo{
    width: 15%;
}
.lulutransacard-categorylogo img{
    height: 60%;
    width: auto;
}
.lulutransacard-description{
    width: 60%;
    font-size: 0.8rem;
}
.lulutransacard-title{
    font-size: 0.9rem;
}
.lulutransacard-category{
    color: grey;
}
.lulutransacard-price{
    width: 20%;
    font-size: 0.9rem;
}

//////////////////// Collapse stuff
#rejectedopscontent, #pendingopscontent, #incomingopscontent{
    width: 100%;
}
#rejectedopscontent .lulutransacard{
    background-color: var(--lulured);
}
#pendingops .lulutransacard{
    background-color: var(--luluyellow);
}
#incomingops .lulutransacard{
    background-color: var(--lulugreen);
}