<div class="logged-out">
    <h1>Leika | Log in</h1>
  
    <!-- error message -->
    <div *ngIf="errorState">
      <p class="text-danger fw-bold">{{ errorMessage }}</p>
    </div>
    
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <!-- email -->
      <input type="email" placeholder="name@example.com" name="email"
            formControlName="email">
          <label>Email address</label>
  <!-- password -->
  <input type="password" placeholder="Password" name="password"
            formControlName="password" #togglePassword>
          <label>Password</label>
  
          <!-- toogle password -->
          <input type="checkbox" (click)="togglePW()">
          <label >Show password</label>
  
          <button type="submit">Sign in</button>
  
    </form>
  </div>
  

 