//////////////////////// Basic layout
#luluwrapper-top{
    height: 9%; //used to be 8%
}
#luluwrapper-center{
    height: 82%;
}
#luluwrapper-bottom{
    height: 9%; // used to be 10%
}

//////////////////////// Top nav
#lulutopnav button{
    color: var(--lulugrey3);
}

//////////////////////// Bottom nav
#lulubottomnav{
    height: 100%;
}
#lulubottomnav li{
    width: 33%;
    height: 100%;
}
#lulubottomnav button{
    height: 100%;
    color: var(--lulugrey3);
}
#lulubottomnav .nav-link {
    border-radius: 0px;
}
#lulubottomnav .nav-link.active {
    background-color: var(--lulugrey4);
    color: black;
    border-radius: 0px;
}